DirectoryIndex index.html

# MIME-типы (важно для JS и CSS)
AddType text/css .css
AddType application/javascript .js .mjs
AddType image/svg+xml .svg

# Редиректы для SPA
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
